*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --main-color: rgba(8, 177, 98, 0.993);
}

body{
   background: white;
}

ul{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.inner-row{
      width: 1200px;
      margin: auto;
}










@media(max-width: 1250px){
      .inner-row{
           width: 90%;
      }
}