.main{
     background: #e9fef7eb;
     background-position: center;
     background-size: cover;
     height: 100vh;
}
.header_content{
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 1px solid rgba(169, 222, 177, 0.378);
}
header .logo{
    position: relative;
    width: 130px;
    height: 80px;
    display: flex;
}

.header_content .header_btns{
    display: flex;
    gap: 20px;;
}
.header_btns a{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: 500;
    color: #222;
}
.header_btns a:nth-child(1){
      border: 2px solid var(--main-color);
}
.header_btns a:nth-child(2){
      background: var(--main-color);
      color: whitesmoke;
}

.hero_section{
      height: calc(100vh - 80px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e9fef7eb;;
}

.hero_section .hero_texts{
     width: 900px;
     margin: auto;
     text-align: center;
}

.hero_texts h1{
       font-size: 70px;
}
.hero_texts h1 span{
      color: var(--main-color);
}

.hero_texts p{
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
    line-height: 32px;
}

.hero_texts a{
      width: 150px;
      height: 45px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      margin: auto;
      background: var(--main-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      color: whitesmoke;
}
.copyright_section{
        padding: 20px;
        background:#e9fef7eb;
}
.copyright_section p{
      font-size: 14px;
      text-align: center;
}
.copyright_section a{
      color: var(--main-color);
      font-weight: 500;
}


@media(max-width: 1090px){
       .hero_section .hero_texts{
              width: 100%
       }
}

@media(max-width: 768px){
       .hero_texts h1{
               font-size: 50px;
       }
       .hero_texts p{
              font-size: 18px;
       }
}

@media(max-width: 500px){
        .header_btns a:nth-child(2){
              display: none;
        }
        .main,
        .hero_section{
              height: auto;
        }
        .hero_section{
               padding: 100px 0;
        }
        .hero_section .hero_texts{
              margin: 50px 0;
        }
        .hero_texts h1{
             font-size: 40px;
        }
}