.dashboard_strip{
      background: var(--green-color);
      height: 300px;
      padding: 50px 0;
}

.strip_content{
     display: flex;
     justify-content: space-between;
     gap: 20px;
     align-items: center;
}
.dashboard_col h3{
      font-size: 25px;
      color: gainsboro;
      font-weight: 400;
}
.dashboard_col h2{
       font-size: 40px;
       color: rgb(231, 231, 231);
}
.dashboard_col a{
      display: flex;
      width: 180px;
      height: 45px;
      background-color: var(--dark-yellow);
      color: whitesmoke;
      border-radius: 45px;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      -o-border-radius: 45px;
      align-items: center;
      padding-bottom: 1px;
      justify-content: center;
      font-size: 15px;
}
.dashboard_col a span{
    display: flex;
}

.dashboard_body_wrapper{
       min-height: 100vh;
       padding-bottom: 60px;
}
.dashboard_highlight{
       margin-top:  -120px;
}
.highlight_content{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       gap: 30px;
}
.highlight_box{
    background: white;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 3px -1px rgb(206, 212, 210);
}
.highlight_box .box_icon{
       width: 60px;
       height: 60px;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       margin-bottom: 10px;
}
.highlight_box:nth-child(1) .box_icon{
    background: rgba(204, 251, 235, 0.55);
}
.highlight_box:nth-child(2) .box_icon{
    background: rgba(251, 204, 222, 0.55);
}
.highlight_box:nth-child(3) .box_icon{
    background: rgba(251, 248, 204, 0.55);
}
.highlight_box:nth-child(4) .box_icon{
    background: rgba(235, 204, 251, 0.55);
}
.highlight_box .box_icon .ico{
       width: 26px;
       height: 26px;
       position: relative;
}
.highlight_box h4{
      font-weight: 500;
      color: rgb(105, 105, 105);
      font-size: 16px;
}
.highlight_box h3{
     font-size: 27px;
     font-weight: 500;
     color: rgb(60, 60, 60);
}
.highlight_box h3 span{
    font-size: 18px;
    font-weight: 400;
}


.dashboard_graph_strip{
    margin: 40px 0;
}
.graph_strip_content{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 30px;
}

.graph_strip_content .graph_strip_col{
     padding: 25px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     box-shadow: 0px 0px 3px -1px rgb(219, 219, 219);
}

.graph_strip_col h2,
.upcoming_col h2{
      font-size: 20px;
      font-weight:500;
      margin-bottom: 20px;
}


.graph_strip_col .graph_box{
    height: 300px;
    width: 100%;
}

.graph_strip_content .upcoming_col{
     box-shadow: 0px 0px 3px -1px rgb(219, 219, 219);
     padding: 25px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.event_col_moja{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.event_col_moja .date{
     width: 50px;
     flex-shrink: 0;
     height: 50px;
     border-radius: 12px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     background:rgba(229, 229, 229, 0.522);
}

.event_col_moja .date h3{
       font-size: 14px;
}
.event_col_moja .date span{
      font-size: 12px;
      color: rgb(78, 78, 78);
}

.event_details h4{
     font-size: 16px;
     margin-bottom: 2px;
}
.event_details p{
      font-size: 15px;
      color: rgb(58, 58, 58);
}



.recent_transaction_section{
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 30px 20px;
}

.recent_transaction_header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.recent_transaction_header h3{
      font-size: 24px;
      font-weight: 500;
}
.recent_transaction_header a{
    font-size: 14px;
    display: flex;
    font-weight: 600;
  position: relative;
  height: max-content;
  justify-content: center;
  padding-bottom: 5px;
  color: var(--dark-green);
}
.recent_transaction_header a::after{
    content: '';
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: var(--dark-green);
}
.recent_transaction_table{
     position: relative;
     overflow: auto;
     min-height: 310px;
}
.recent_transaction_table table{
     width: 100%;
     border-collapse: collapse;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
}

.recent_transaction_table th{
    text-align: left;
    font-size: 16px;
    color: gray;
    font-weight: 400;
    padding: 16px 0;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.recent_transaction_table tbody tr td{
   border-bottom: 1px solid rgb(232, 232, 232);
   padding: 16px 0;
}
.recent_transaction_table table .profile_image{
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background: white;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}

.transact_profile{
      display: flex;
      gap: 10px;
      align-items: center;
}
.transact_profile h3{
     font-weight: 400;
     font-size: 17px;
     color: #555;
}

.recent_transaction_table td h3,
.recent_transaction_table td h5{
     font-size: 16px;
     font-weight: 500;
     color: #555;
}
.recent_transaction_table td h5 span{
     font-size: 13px;
     color: #555;
}

.recent_transaction_table .date h5{
      font-size: 14px;
      font-weight: 500;
      color: #555;
}
.recent_transaction_table .date p{
    color: gray;
    font-size: 13px;
}

.recent_transaction_table .transact_status{
     padding: 10px 20px;
     border-radius: 20px;
     display: inline-block;
     background: rgba(121, 222, 182, 0.3);
     color: var(--main-color);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}
.transact_status h6{
      font-size: 14px;
      font-weight: 400;
}

@media(max-width: 1090px){
    .highlight_content{
           grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 900px){
    .graph_strip_content{
           grid-template-columns: 1fr;
    }
}