
.topbar,
.topbar_nav{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.topbar_nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.topbar_nav ul li a{
      font-weight: 400;
      font-size: 16px;
      color: #053023;
      display: flex;
}
.topbar_nav ul li a:hover,
.topbar_nav ul li a.active,
.mobile_navbar ul li a:hover,
.mobile_navbar ul li a.active{
      color: var(--dark-green);
      font-weight: 600;
}

.topbar_nav .searchbar{
       width: 350px;
       height: 50px;
       display: flex;
       align-items: center;
       border: 1px solid rgba(186, 222, 207, 0.515);
       border-radius: 50px;
       -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
       -ms-border-radius: 50px;
       -o-border-radius: 50px;
       padding: 0px 20px;
}

.topbar_nav .searchbar:has(input:focus){
       border: 1px solid rgb(186, 234, 214);
}

.searchbar input{
       width: 100%;
       height: 100%;
       display: flex;
       background: none;
       border-radius: 50px;
       -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
       -ms-border-radius: 50px;
       -o-border-radius: 50px;
       border:none;
       outline: none;
       font-size: 15px;
}
.searchbar span{
    display: flex;
}

/* Mobile view */
.mobile_triggers{
      display: flex;
      gap: 20px;;
      align-items: center;
      display: none;
}
.mobile_triggers span{
         cursor: pointer;
         display: flex;
         font-size: 20px;
}
.mobile_triggers span:nth-child(2){
      width: 40px;
      height: 40px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      align-items: center;
      justify-content: center;
      color: var(--dark-green);
}
.mobile_triggers span:nth-child(2):hover{
      background: rgba(164, 158, 132, 0.2);
}
.mobile_triggers span:nth-child(3){
      color: white;
      background: var(--dark-green);
      width: 40px;
      height: 40px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      align-items: center;
      justify-content: center;
}

.mobile_wrapper{
       position: relative;
}
.mobile_navbar{
       position: absolute;
       top: 45px;
       left: -80px;
       background: white;
       padding: 15px 30px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       box-shadow: var(--box-shadow);
}

.mobile_navbar ul li a{
      font-size: 16px;
      line-height: 30px;;
}

.mobile_greenbar{
       position: fixed;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background:rgba(52, 72, 66, 0.6);
       z-index: 999;
       transform: translateX(100%);
       -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.mobile_greenbar_active{
       position: fixed;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background:rgba(52, 72, 66, 0.6);
       z-index: 999;
       transform: translateX(0);
       -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
       -ms-transform: translateX(0);
       -o-transform: translateX(0);
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
       display: none;
}

.green_wrap{
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--dark-green);
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;
}
.green_wrap::-webkit-scrollbar{
   width: 2px !important;
}

.green_wrap_context span.close_btn{
   color: whitesmoke;
   font-size: 24px;
   display: flex;
   position: absolute;
   right: 400px;
   top: 30px;
   cursor: pointer;
}


@media(max-width: 1100px){
    .mobile_triggers{
        display: flex;
    }
   .topbar_nav{
       display: none;
}
   .mobile_greenbar_active{
    display: block;
}
}

@media(max-width: 450px){
    .green_wrap_context span.close_btn{
          right: 90%;
   }
   .green_wrap{
         width: 90%;
   }
}